@model LoginViewModel

<h1>Login</h1>
@if (ViewData["Error"]!=null)
{
    <b>@{@ViewData["Error"]}</b>
}
<form asp-controller="Account" asp-action="Login">
    <div class="form-group">
        <label asp-for="UserName">@Html.DisplayNameFor(m => m.UserName)</label>
        <input asp-for="UserName"  class="form-control"/>
    </div> <br>
    <div class="form-group">
        <label asp-for="Password">@Html.DisplayNameFor(m => m.Password)</label>
        <input asp-for="Password" class="form-control" />
    </div> <br>
    <div class="form-group">
        <div class="checkbox">
            
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                <span>@Html.DisplayNameFor(m => m.RememberMe)</span>
            </label> 
        </div>
        
    </div> <br>

    <input type="submit" value="Login" class="btn btn-default"/>
</form>