
<!doctype html>

<html>

<head>
</head>

<body>
    <h1>
        @ViewData["Title"]
    </h1>

    <img src="@ViewData["PosterUrl"]"  width="200"/>
    <p>
        @ViewData["OverView"]
    </p>
    
    
</body>

</html>